.fond {
    background-color: rgb(118, 182, 132);
    height: auto;
    border-radius: 2%;
    
}
.container {

height: 100vh;

}

.textecolor {
    color: red;
}

.hadi {
    height: 15vh;
}

.hadi2 {
    height: 10vh;
}

.casio {
    font-family: "DSEG7 classic";
}

.number {

    font-size: 2rem !important;
    font-weight: bold !important;
    box-shadow :inset 2px 2px rgb(71, 63, 63) !important;
}