.fond {
    background-color: rgb(118, 182, 132);
    height: auto;
    border-radius: 2%;
    
}
.container {

height: 100vh;

}

.textecolor {
    color: red;
}

.hadi {
    height: 15vh;
}

.hadi2 {
    height: 10vh;
}

.casio {
    font-family: "DSEG7 classic";
}
